VelocityCoders.FitnessPratice.WebForm/Service References/ServiceEntityLookup/EntityLookupService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VelocityCoders.FitnessPractice.Services.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VelocityCoders.FitnessPractice.Services.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EntityDTOCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntityDTO" nillable="true" type="tns:EntityDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntityDTOCollection" nillable="true" type="tns:EntityDTOCollection" />
  <xs:complexType name="EntityDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntityId" type="xs:int" />
      <xs:element minOccurs="0" name="EntityName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntityDTO" nillable="true" type="tns:EntityDTO" />
  <xs:complexType name="EntityTypeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntityId" type="xs:int" />
      <xs:element minOccurs="0" name="EntityTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="EntityTypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntityTypeDTO" nillable="true" type="tns:EntityTypeDTO" />
  <xs:complexType name="EntityTypeDTOCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntityTypeDTO" nillable="true" type="tns:EntityTypeDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntityTypeDTOCollection" nillable="true" type="tns:EntityTypeDTOCollection" />
</xs:schema>