VelocityCoders.FitnessPratice.WebForm/Service References/ServiceEntity/EntityService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EntityService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60546/EntityService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60546/EntityService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60546/EntityService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VelocityCoders.FitnessPractice.Services.DataContracts" />
      <xsd:import schemaLocation="http://localhost:60546/EntityService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/VelocityCoders.FitnessPractice.Services.Faults" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEntityService_GetEntity_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEntity" />
  </wsdl:message>
  <wsdl:message name="IEntityService_GetEntity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEntityResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityService_GetEntityCollection_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEntityCollection" />
  </wsdl:message>
  <wsdl:message name="IEntityService_GetEntityCollection_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEntityCollectionResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityService_DeleteEntity_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEntity" />
  </wsdl:message>
  <wsdl:message name="IEntityService_DeleteEntity_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEntityResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityService_DeleteEntity_EntityLookupServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/VelocityCoders.FitnessPractice.Services.Faults" name="detail" element="q1:EntityLookupServiceFault" />
  </wsdl:message>
  <wsdl:message name="IEntityService_SaveEntity_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveEntity" />
  </wsdl:message>
  <wsdl:message name="IEntityService_SaveEntity_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveEntityResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityService_SaveEntity_EntityLookupServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/VelocityCoders.FitnessPractice.Services.Faults" name="detail" element="q2:EntityLookupServiceFault" />
  </wsdl:message>
  <wsdl:portType name="IEntityService">
    <wsdl:operation name="GetEntity">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/GetEntity" message="tns:IEntityService_GetEntity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/GetEntityResponse" message="tns:IEntityService_GetEntity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEntityCollection">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/GetEntityCollection" message="tns:IEntityService_GetEntityCollection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/GetEntityCollectionResponse" message="tns:IEntityService_GetEntityCollection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEntity">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/DeleteEntity" message="tns:IEntityService_DeleteEntity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/DeleteEntityResponse" message="tns:IEntityService_DeleteEntity_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityService/DeleteEntityEntityLookupServiceFaultFault" name="EntityLookupServiceFaultFault" message="tns:IEntityService_DeleteEntity_EntityLookupServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveEntity">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/SaveEntity" message="tns:IEntityService_SaveEntity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/SaveEntityResponse" message="tns:IEntityService_SaveEntity_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEntityService/SaveEntityEntityLookupServiceFaultFault" name="EntityLookupServiceFaultFault" message="tns:IEntityService_SaveEntity_EntityLookupServiceFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEntityService" type="tns:IEntityService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEntity">
      <soap:operation soapAction="http://tempuri.org/IEntityService/GetEntity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEntityCollection">
      <soap:operation soapAction="http://tempuri.org/IEntityService/GetEntityCollection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEntity">
      <soap:operation soapAction="http://tempuri.org/IEntityService/DeleteEntity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EntityLookupServiceFaultFault">
        <soap:fault use="literal" name="EntityLookupServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaveEntity">
      <soap:operation soapAction="http://tempuri.org/IEntityService/SaveEntity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EntityLookupServiceFaultFault">
        <soap:fault use="literal" name="EntityLookupServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EntityService">
    <wsdl:port name="BasicHttpBinding_IEntityService" binding="tns:BasicHttpBinding_IEntityService">
      <soap:address location="http://localhost:60546/EntityService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>